<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="container">

            <form class="row g-3" method="post">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Karakter Adı</label>
                    <input name="karakterAdı" type="text" class="form-control" id="inputAddress"
                        placeholder="Karakter adını giriniz">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Açıklama</label>
                    <input name="açıklama" type="text" style="height: 100px;" class="form-control" id="açıklama"
                        placeholder="Açıklama yazınız">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">resim</label>
                    <input name="image" type="text" class="form-control" id="açıklama" placeholder="Açıklama yazınız">
                </div>

                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select name="kategori" id="inputState" class="form-select">
                        <option>Seçiniz</option>
                        <% kategori.forEach(element=> { %>
                            <option>
                                <%=element.Tipi %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" name="onay">
                        <label class="form-check-label" for="gridCheck">
                            Onay
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">KAYDET</button>
                </div>
            </form>
        </div>







        <%- include('./partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>